// Kanagawa Colors
$fujiWhite: #DCD7BA;

$sumiInk0: #16161D; // Darkest Bkg
$sumiInk1: #1F1F28; // Default Bkg
$sumiInk2: #2A2A37; // Lighter Bkg
$sumiInk3: #363646; // Lighter Bkg (Editor Cursorline)
$sumiInk4: #54546D; // Darker Foreground (Editor Line Numbers)

$crystalBlue: #7E9CD8;

$autumnRed: #C34043;
$waveRed: #E46876;

$springGreen: #98BB6C;

$oniViolet: #957FB8;

$surimiOrange: #FFA066;

$autumnYellow: #DCA561;
